PROD_DB=""

ANALYTICS_DB="postgresql://postgres:postgres@localhost:5432/mydb"

TIMEZONE="Asia/Kolkata"

PORT=3000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TLS=false
